# python basics

# tuples

In [7]:
tup = 4,5,(6,7)
tup

(4, 5, (6, 7))

In [4]:
a,b,c = tup
c

(6, 7)

In [6]:
#swapping values
a,b = 1,2
b,a = a,b
a,b

(2, 1)

In [9]:
# iteration

seq = [(1,2,3),(4,5,6),(7,8,9)]
seq
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [10]:
# unpacking with astrick *rest
values = 1,2,3,4,5
a,b,*rest_values = values
print(a,b)
print(rest_values)

1 2
[3, 4, 5]

In [11]:
# we can drop rest variable name too
a,b, *_ = values
print(a,b)

1 2

In [13]:
# get occurrences of a value in a tuple
a = (1,2,3,3,3,4,4,5,5,6,7,8)
a.count(4)

2

# Lists

In [14]:
a_list = list(a)
a_list

[1, 2, 3, 3, 3, 4, 4, 5, 5, 6, 7, 8]

In [15]:
l = [1,2,3.0, 'a']
l

[1, 2, 3.0, 'a']

In [16]:
t = (1,2,3.0, 'a')
t

(1, 2, 3.0, 'a')

In [18]:
# update a value in list
l[1] = 'two'
l

[1, 'two', 3.0, 'a']

In [19]:
t[1] = 'two'
t
# doesn't work as tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [20]:
gen = range(10)
gen

range(0, 10)

In [21]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
gen = range(1,10,2)
list(gen)

[1, 3, 5, 7, 9]

In [24]:
tuple(gen)

(1, 3, 5, 7, 9)

In [25]:
l

[1, 'two', 3.0, 'a']

In [26]:
l.append('b')
l

[1, 'two', 3.0, 'a', 'b']

In [27]:
# insert at specific location
l.insert(3, 'four')
l

[1, 'two', 3.0, 'four', 'a', 'b']

In [28]:
# remove an element
l.pop()

'b'

In [29]:
l

[1, 'two', 3.0, 'four', 'a']

In [30]:
# remove based on value of element
l.remove(3.0)
l

[1, 'two', 'four', 'a']

In [31]:
# check if value exists in a list
'four' in l

True

In [32]:
3 in l

False

In [33]:
3 not in l

True

In [34]:
# combining lists
a

(1, 2, 3, 3, 3, 4, 4, 5, 5, 6, 7, 8)

In [36]:
l + list(a) # expensive process

[1, 'two', 'four', 'a', 1, 2, 3, 3, 3, 4, 4, 5, 5, 6, 7, 8]

In [37]:
# extend method - better from performance basis
l.extend([1,2,3,4])
l

[1, 'two', 'four', 'a', 1, 2, 3, 4]

In [40]:
# sorting lists
l = [7,5,3,9,1, 0,4]
l.sort() # in place sorting
l

[0, 1, 3, 4, 5, 7, 9]

In [41]:
# sorting values based on len
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [43]:
b.sort()
b

['He', 'foxes', 'saw', 'six', 'small']

In [57]:
# sorted - returns new sorted list: not inplace unlike sort()
sorted([4,5,3,2,5,7])

[2, 3, 4, 5, 5, 7]

In [58]:
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [95]:
import bisect
c = [1,2,2,2,3,4,7]
bisect.bisect(c,2)

4

In [96]:
bisect.bisect(c,1)

1

In [97]:
bisect.insort(c,6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [98]:
# slicing
c[2:5]

[2, 2, 3]

In [99]:
c[:4]

[1, 2, 2, 2]

In [100]:
c[3:4] = [6,3]
c

[1, 2, 2, 6, 3, 3, 4, 6, 7]

In [101]:
c[4:]

[3, 3, 4, 6, 7]

In [102]:
c[-4:]

[3, 4, 6, 7]

In [103]:
c[-6:-2]

[6, 3, 3, 4]

In [104]:
# reversing a list
c[::-1]

[7, 6, 4, 3, 3, 6, 2, 2, 1]

In [107]:
# reversing using method
list(reversed(c))

[7, 6, 4, 3, 3, 6, 2, 2, 1]

In [55]:
# enumeration
for i, val in enumerate(c):
    print(i,"->",val)

0 -> 1
1 -> 2
2 -> 2
3 -> 6
4 -> 3
5 -> 3
6 -> 4
7 -> 6
8 -> 7

In [56]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i

mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [77]:
# zip - combine two or more lists to create a new list of tuples
a = [1,2,3,4,5]
b = ['a', 'b', 'c', 'd', 'e']
c = ['x', 'y', 'z']

zipped = zip(a,b,c)
list(zipped) # note the extra elements are dropped; no. of 
# are determined by shortest list

[(1, 'a', 'x'), (2, 'b', 'y'), (3, 'c', 'z')]

In [78]:
# using zip to enumerate over a group of elements
for i, (a,b,c) in enumerate(zip(a,b,c)):
    print('{0}: {1} - {2} - {3}'.format(i,a,b,c))

0: 1 - a - x
1: 2 - b - y
2: 3 - c - z

In [81]:
# zip can also be used to unzip the zipped seq
pits = [(1, 'a'), (2, 'b'), (3, 'c')]
i,x = zip(*pits)
print(i)
print(x)

(1, 2, 3)
('a', 'b', 'c')

In [82]:
l

[0, 1, 3, 4, 5, 7, 9]

In [83]:
print(l)

[0, 1, 3, 4, 5, 7, 9]

In [84]:
print(*l) 
# with asterisk you can unpack the elements without being a list or tuple object

0 1 3 4 5 7 9

In [91]:
# unpacking dictionaries
date_info = {'year': "2020", 'month': "01", 'day': "01"}
track_info = {'artist': "Beethoven", 'title': 'Symphony No 5'}
filename = "{year}-{month}-{day}-{artist}-{title}".format(**date_info, **track_info)
filename

'2020-01-01-Beethoven-Symphony No 5'

# dictionary

In [108]:
d = {'a': 1, 'b': 2}
d

{'a': 1, 'b': 2}

In [109]:
d['a']

1

In [111]:
d['a'] = 'One'
d

{'a': 'One', 'b': 2}

In [112]:
'b' in d

True

In [113]:
del d['b']

In [114]:
d

{'a': 'One'}

In [115]:
d.pop('a') # returns the value too but del doesn't

'One'

In [116]:
d

{}

In [117]:
d = {'a': 1, 'b': 2, 'c': 3}
d

{'a': 1, 'b': 2, 'c': 3}

In [118]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [119]:
list(d.keys())

['a', 'b', 'c']

In [120]:
d.values()

dict_values([1, 2, 3])

In [121]:
list(d.values())

[1, 2, 3]

In [122]:
# merging dicts
d.update({'d': 4, 'e': 5})
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [127]:
list(d.keys())

['a', 'b', 'c', 'd', 'e']

In [128]:
# you can create dict from 2 lists as
mapping = {}
for key, value in zip(list(d.keys()), list(d.values())):
    mapping[key] = value

mapping

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [129]:
# better way to do same
mapping = dict(zip(list(d.keys()), list(d.values())))
mapping

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [131]:
# default value in get methods
mapping.get('aa', 'Not found')

'Not found'

In [132]:
# setting dict with keys as starting char and list of words as value

words = {'apple', 'bat', 'bar', 'atom', 'cat'}
dict_letters = {}
for word in words:
    letter = word[0]
    if letter not in dict_letters:
        dict_letters[letter] = [word]
    else:
        dict_letters[letter].append(word)

dict_letters

{'a': ['atom', 'apple'], 'c': ['cat'], 'b': ['bar', 'bat']}

In [133]:
# concise way to do same
for word in words:
    letter = word[0]
    dict_letters.setdefault(letter,[]).append(word)

dict_letters

{'a': ['atom', 'apple', 'atom', 'apple'],
 'c': ['cat', 'cat'],
 'b': ['bar', 'bat', 'bar', 'bat']}

In [137]:
# another approach
from collections import defaultdict
dd = defaultdict(list)
for word in words:
    dd[word[0]].append(word)
    
dict(dd)

{'a': ['atom', 'apple'], 'c': ['cat'], 'b': ['bar', 'bat']}

In [139]:
# having a list as a key

dd = {}
dd[tuple([1,2,3])] = 5
dd

{(1, 2, 3): 5}

In [140]:
dd[(1,2,3)]

5

# set
Unordered collection of unique elements

In [143]:
a = {1,2,2,2,3,4}
a

{1, 2, 3, 4}

In [142]:
b = {2,3,4, 5, 6}
b

{2, 3, 4, 5, 6}

In [144]:
# union of two sets
a.union(b)

{1, 2, 3, 4, 5, 6}

In [145]:
# or
a | b

{1, 2, 3, 4, 5, 6}

In [146]:
# intersection
a & b

{2, 3, 4}

In [147]:
# or 
a.intersection(b)

{2, 3, 4}

In [148]:
a - b

{1}

# comprehensions

In [149]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [153]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, (1, 2, 3): 5}

In [157]:
dict_comp = {key:str(d[key]) for key in d}
dict_comp

{'a': '1', 'b': '2', 'c': '3', 'd': '4', 'e': '5', (1, 2, 3): '5'}

In [158]:
[len(x) for x in strings]

[1, 2, 3, 3, 4, 6]

In [161]:
# map function
set(map(len, strings))

{1, 2, 3, 4, 6}

In [162]:
d = {index:val for index,val in enumerate(strings)}
d

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

# nested list comprehensions

In [163]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [164]:
all_data

[['John', 'Emily', 'Michael', 'Mary', 'Steven'],
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [167]:
[name for names in all_data 
         for name in names 
             if name.count('e') >=2]

['Steven']

In [170]:
t = [(1,2,3), (4,5,6), (7,8,9)]
flattend = [x for tup in t for x in tup]
flattend

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# functions

In [171]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
   .....:           'south   carolina##', 'West virginia?']

In [172]:
states

['   Alabama ',
 'Georgia!',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south   carolina##',
 'West virginia?']

In [175]:
# cleaning strings
import re
def remove_punctuations(value):
    return re.sub('[^a-zA-Z0-9]', '', value)

clean_ops = [str.strip, remove_punctuations, str.title]

def clean_strings(strings, ops):
    result = []
    
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'Southcarolina',
 'Westvirginia']

In [177]:
# sort a list of strings based on no. of distinct letters in it
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

strings.sort(key = lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [181]:
[len(set(list(s))) for s in strings]

[1, 2, 2, 3, 4]

In [182]:
# currying: partial argument application
def add_numbers(x,y):
    return x+y

# we can define a new function using above function as
add_five = lambda y: add_numbers(5, y) # this is currying

# same can be done using partial method
from functools import partial
add_fivee = partial(add_numbers, 5)

In [183]:
add_five(5)

10

In [184]:
add_fivee(3)

8

## Generators
constructs a new iterable object which returns a sequence of results only when invoked

In [185]:
def squares(n=10):
    print("Generating squares from 1 to {}".format(n**2))
    for i in range(1, n+1):
        yield i**2

In [186]:
gen = squares()
gen

In [187]:
# now invoke the generator so it runs
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [190]:
# using comprehensions to create generator 
gen = (x ** 2 for x in range(10))
gen

In [191]:
for x in gen:
    print(x, end = ' ')

0 1 4 9 16 25 36 49 64 81

In [193]:
# itertools module
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Peter', 'Sam', 'Saoul', 'Adam']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan']
P ['Peter']
S ['Sam', 'Saoul']
A ['Adam']

In [201]:
# error handling
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return "Exception: <" + x + "> passed instead of a valid float"
    
attempt_float(5)
attempt_float('abc')

'Exception: <abc> passed instead of a valid float'